{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "describe": true,
    "beforeEach": true,
    "afterEach": true,
    "it": true,
    "expect": true,
    "sinon": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "camelcase": 0,
    "func-names": 0,
    "no-use-before-define": 0,
    "prefer-arrow-callback": 0,
    "import/no-webpack-loader-syntax": 0,
  },
  "settings": {
    "import/resolver": "webpack"
  },
}
